
.vs

ApiGateways/.vs/

ApiGateways/ApiGateways/bin/
ApiGateways/ApiGateways/obj/

ApiGateways/ApiGateways.Dommani/bin/
ApiGateways/ApiGateways.Dommani/obj/

ApiGateways/ApiGateways.Context/bin/
ApiGateways/ApiGateways.Context/obj/

ApiGateways/ApiGateways.Service/bin/
ApiGateways/ApiGateways.Service/obj/

Common/Common/bin/
Common/Common/obj/

Pixel/Pixel.Context/obj/
Pixel/Pixel.Context/bin/

Pixel/Pixel.Dommain/obj/
Pixel/Pixel.Dommain/bin/

Pixel/Pixel/obj/
Pixel/Pixel/bin/

Pixel/Pixel.Command/obj/
Pixel/Pixel.Command/bin/
