
.vs

ApiGateways/.vs/

ApiGateways/ApiGateways/bin/
ApiGateways/ApiGateways/obj/

ApiGateways/ApiGateways.Dommani/bin/
ApiGateways/ApiGateways.Dommani/obj/

ApiGateways/ApiGateways.Context/bin/
ApiGateways/ApiGateways.Context/obj/

ApiGateways/ApiGateways.Service/bin/
ApiGateways/ApiGateways.Service/obj/

ApiGateways/ApiGateways.Common/bin/
ApiGateways/ApiGateways.Common/obj/

Pixel.Context/obj/
Pixel.Context/bin/

Pixel.Dommain/obj/
Pixel.Dommain/bin/

Pixel/obj/
Pixel/bin/

Pixel.Command/obj/
Pixel.Command/bin/
